/* Font */

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.primary-color {
  background-color: #F1F1F3;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 24px;
}

.para {
  font-size: 16px;
  color: rgb(59, 58, 58);
}

.v-icon {
  width: 64px;
}

/*nav*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 160px;
}

.nav-title {
  font-weight: bold;
  font-size: 32px;
}

.btn-nav {
  font-weight: 600px;
  font-size: 18px;
  color: #006A50;
  background-color: #F5F5F5;
  padding: 15px 30px;
  border-radius: 8px;
  border-color: #006A50;

}

/* banner */
.banner {
  display: flex;
  background-color: #C6E4D6;
  border-radius: 24px;
  padding: 80px 100px;
  margin: 0 100px;
}

.b-content {
  margin-right: 64px;
}

.btn-banner {
  font-weight: 600;
  font-size: 18px;
  background-color: #006A50;
  color: white;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;

}

.b-title1 {
  font-weight: 500;
  color: gray;
  font-size: 24px;

}

.b-title2 {
  font-weight: bold;
  font-size: 56px;
}

.banner-img {
  width: 474px;
}

/* vision secsion */

.btn-dt {
  font-weight: 600;
  font-size: 16px;
  background-color: #5490F5;
  color: white;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.btn-ge {
  font-weight: 600;
  font-size: 16px;
  background-color: #09A15C;
  color: white;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.btn-mi {
  font-weight: 600;
  font-size: 16px;
  background-color: #FFC239;
  color: white;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.dt {
  background-color: #81B4FC;
  max-width: 410.6px;
  padding: 32px;
  border-radius: 16px;
  margin-right: 24px;
}

.ge {
  background-color: #C6E4D6;
  max-width: 410.6px;
  padding: 32px;
  border-radius: 16px;
  margin-right: 24px;
}

.mi {
  background-color: #F7EBCF;
  max-width: 410.6px;
  padding: 32px;
  border-radius: 16px;
}

.v-title {
  font-weight: bold;
  font-size: 40px;
}

.v-para {
  font-size: 16px;
  color: rgb(78, 76, 76);
}

.cards {
  display: flex;
  padding: 32px 0;
}

.vision {
  margin: 80px 100px;
}

/* Quote */
.quote {
  margin: 0 100px;
  background-color: white;
  border-radius: 16px;
  padding: 48px 24px;
  border-color: darkgray;
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.q-p {
  color: rgb(78, 76, 76);
  font-size: 16px;
}

.q-h {
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 0;
}

/* News */
.news {
  margin: 80px 100px;
}

.news-title {
  font-weight: bold;
  font-size: 40px;
}

.n-p {
  color: rgb(78, 76, 76);
  font-size: 16px;
  margin-bottom: 32px;
}

.n-card1 {
  background-color: white;
  display: flex;
  border-radius: 24px;
  padding: 48px;
  margin-bottom: 24px;
}

.n-card2 {
  background-color: white;
  display: flex;
  border-radius: 24px;
  padding: 48px;
  margin-bottom: 24px;
}

.n-card3 {
  background-color: white;
  display: flex;
  border-radius: 24px;
  padding: 48px;
}

.news-i1 {
  border-radius: 24px;
  margin-right: 32px;
}

.news-i2 {
  border-radius: 24px;
  margin-left: 32px;
}

.n-h {
  font-weight: bold;
  font-size: 32px;
}

.n-btn {
  background-color: #006A50;
  color: white;
  padding: 13px 26px;
  border-radius: 8px;
  border: none;
}

/* Donate */
.donate{
  margin: 0 100px;
  justify-content: center;
}
.dtitle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.dpara {
  color: rgb(78, 76, 76);
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
  padding: 0 80px;
}
.d1{
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border-radius: 16px;
  padding: 40px;
  margin-right: 24px;
}
.d2{
  font-size: 40px;
  font-weight: bold;
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 40px;
  margin-right: 24px;
}
.d3{
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border-radius: 16px;
  padding: 40px;
}
.dcards{
  display: flex;
  padding: 0 110px;
}
.dinput{
  width: 1032px;
  padding: 20px 0;
  text-align: center;
  border: none;
  margin: 32px 120px;
}
.dbtn{
  background-color: #006A50;
  color: white;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  margin: 10px 580px;
}
/* letter */
.letter{
  margin: 80px 100px;
  background-color: #C6E4D6;
  padding: 80px 100px;
  border-radius: 24px;
}
.ltitle{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.lpara{
  color: rgb(78, 76, 76);
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
  padding: 0 80px;
}
.lin{
width: 600px;
  padding: 18px 40px;
}
.linput{
display: inline-flex;
margin: 24px 130px;

}
.lbtn{
  background-color: #006A50;
  color: white;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
/* footer */
.footer-title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.fimg{
  margin: 40px 700px;
}