/* Font */
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
   
  /* shared style */
.title{
    font-weight: bold;
    font-size: 20px;
    margin-top: 24px;
}
.para{
    font-size: 16px;
    color: rgb(59, 58, 58);
}
.v-icon{
    width: 64px;
}
  /*nav*/
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
  }
  .nav-title{
    font-weight: bold;
    font-size: 32px;
  }
  .btn-nav{
    font-weight: 600px;
    font-size: 18px;
    color: #006A50;
    background-color: #F5F5F5;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;

  }

  /* banner */
  .banner{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    max-width: 1280px;
    padding: 80px 100px;
    margin: 0 100px;
  }
  .b-content{
    max-width: 622px;
    margin-right: 64px;
  }
  .btn-banner{
    font-weight: 600;
    font-size: 18px;
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;

  }
  .b-title1{
    font-weight: 500;
    color: gray;
    font-size: 24px;

  }
  .b-title2{
    font-weight: bold;
    font-size: 56px;
  }
  .banner-img{
    width: 474px;
  }
  /* vision secsion */

.btn-dt{
    font-weight: 600;
    font-size: 16px;
    background-color: #5490F5;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn-ge{
    font-weight: 600;
    font-size: 16px;
    background-color: #09A15C;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.btn-mi{
    font-weight: 600;
    font-size: 16px;
    background-color: #FFC239;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
}
.dt{
    background-color: #81B4FC;
    max-width: 410.6px;
    padding: 32px;
    border-radius: 16px;
    margin-right: 24px;
}
.ge{
    background-color: #C6E4D6;
    max-width: 410.6px;
    padding: 32px;
    border-radius: 16px;
    margin-right: 24px;
}
.mi{
    background-color: #F7EBCF;
    max-width: 410.6px;
    padding: 32px;
    border-radius: 16px;
}
.v-title{
    font-weight: bold;
    font-size: 40px;
}
.v-para{
    font-size: 16px;
    color:rgb(59, 58, 58);
}
.cards{
    display: flex;
    padding: 32px 0;
}
.vision{
    max-width: 1280px;
    margin: 80px 100px;
}